[Unit]
Description=Periodically reapply UGREEN NAS app localization

[Timer]
# через 2 минуты после загрузки и далее раз в сутки
OnBootSec=2min
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
