[Unit]
Description=Sync and Backup Server
After=basic.target entry_serv.service nginx.service ugbus.service
Requires=ugbus.service
ConditionPathExists=/etc/sysconfig/syncbackup_serv.sh

[Service]
Type=notify
NotifyAccess=all
ExecStartPre = /etc/sysconfig/syncbackup_serv.sh
ExecStart = /var/targets/syncbackup_serv
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s QUIT $MAINPID
Restart = on-failure
CPUAccounting = true
CPUQuota = 200%
MemoryHigh = 4G
TimeoutStopSec = 10s
Environment=HOME=/tmp Environment=LOG_LEVEL=INFO LOG_OUTPUT=FILE GOGC=50 USE_SYSLOG=on
LimitNOFILE=infinity
OOMScoreAdjust = 300
RestartSec=2
StartLimitInterval=120s
StartLimitBurst=5


[Install]
WantedBy = multi-user.target
