[Unit]
Description=iSCSI Manager
After=sysinfo_serv.service storage_serv.service filemgr_serv.service nginx.service ugbus.service
Requires=ugbus.service
ConditionPathIsSymbolicLink=/etc/sysconfig/iscsi_serv.sh

[Service]
Type=notify
NotifyAccess=all
Environment=LOG_OUTPUT=FILE USE_SYSLOG=on LOG_LEVEL=INFO
ExecStartPre=/etc/sysconfig/iscsi_serv.sh
ExecStart=/var/targets/iscsi_serv
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
#CPUAccounting=true
#CPUQuota=30%
# MemoryHigh=500M
TimeoutStopSec=30s
OOMScoreAdjust=0

[Install]
WantedBy=multi-user.target
