[Unit]
Description = Video Center
After = nginx.service entry_serv.service storage_serv.service ugbus.service
Requires = ugbus.service nginx.service
ConditionPathIsSymbolicLink = /etc/sysconfig/video_serv.sh

[Service]
Type=notify
NotifyAccess=all
Environment = LOG_LEVEL=INFO LOG_OUTPUT=FILE GOGC=50 USE_SYSLOG=on
ExecStartPre=/etc/sysconfig/video_serv.sh
ExecStart=/var/targets/video_serv
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s QUIT $MAINPID
ExecStopPost = /etc/sysconfig/video_serv_stop.sh
Restart = on-failure
CPUAccounting = true
MemoryHigh = 2G
TimeoutStopSec = 10s
OOMScoreAdjust=100
StartLimitInterval=120s
StartLimitBurst=5
RestartSec=2
[Install]
WantedBy = multi-user.target
